@use '@/shared/styles/design-system' as *;

.treeImage {
  position: absolute;
  transform: translateY(7%);

  @media (min-width: 930px) {
    top: 0;
    width: auto;
    height: 100dvh;
    max-width: 960px;
  }

  @media (min-width: 930px) and (min-width: breakpoint(sm)) {
    max-width: 50vw;
  }
}
