.container {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 20;
}

.containerWithViewBox {
  width: 100%;
  height: 100%;
}

.containerWithoutViewBox {
  width: 100vw;
  height: 100vh;
}

