@use '@/shared/styles/design-system' as *;

.root {
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 930px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}
