@use '@/shared/styles/design-system' as *;

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
}

.code {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: spacing(1.5);
  max-width: 900px;
  width: 100%;
  padding: spacing(2) 0;
}

