@use '@/shared/styles/design-system' as *;

.container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(18rem);
}

.code {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: spacing(1.5);
  max-width: 900px;
  width: 100%;
  padding: spacing(6);
}

