@use '@/shared/styles/design-system' as *;

.heading {
  margin-bottom: spacing(8);
}

.titleMain {
  margin-right: spacing(4);
}


.container {
  @include flex-center;
  position: relative;
  z-index: 10;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 100vw;
  height: calc(100dvh - 100vw);
  transform: translateY(-10%);

  @media (min-width: 930px) {
    margin-top: 0;
    height: auto;
    max-width: 1280px;
    margin-left: 30vw;
    margin-right: auto;
    min-height: 100dvh;
  }
}

.subtitleWrapper {
  &Animated {
    @include fade-in(0.8s, 5s);
  }
}