@use '@/shared/styles/design-system' as *;

.heading {
  margin-bottom: spacing(8);
}

.titleMain {
  margin-right: spacing(4);
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-width: 0;
  min-height: 0;
  grid-row: 2;
  align-self: start;
  padding: spacing(1) spacing(4) spacing(8);

  @media (min-width: 500px) and (orientation: landscape) {
    grid-row: auto;
    grid-column: 2;
    align-self: start;
    justify-self: start;
    margin-top: clamp(140px, 32vh, 380px);
    text-align: center;
    align-items: center;
    max-width: 720px;
    padding: spacing(6) spacing(6) spacing(6) spacing(2);
    margin-left: clamp(-3rem, -4vw, -1rem);
  }
}

.codeSlot {
  width: 100%;
  min-height: 9.5rem;
}

.codeSlot > :global(*) {
  width: 100%;
}

.codeSlot { margin-top: spacing(3); }

.codeUnderTextHidden {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 500px) and (orientation: landscape) {
  .codeSlot {
    margin-top: spacing(5);
    min-height: 11rem;
  }
}

.subtitleWrapper {
  &Animated {
    @include fade-in(0.8s, 5s);
  }
}