@use '@/shared/styles/design-system' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text {
  color: var(--color-white, rgb(245, 242, 230));
  font-size: font-size(base);
}