@use 'sass:meta';
@use './tokens' as *;
@use './functions' as *;

:root {
  @each $name, $value in $colors {
    @if meta.type-of($value) == 'map' {
      @each $shade, $color in $value {
        --color-#{$name}-#{$shade}: #{$color};
      }
    } @else {
      --color-#{$name}: #{$value};
    }
  }

  --color-primary-strong: #{ds-color('blue', 500)};
  --color-surface: #{ds-color('dark')};
  --color-on-surface: #{ds-color('white')};

  --font-family-sans: #{font-family(sans)};
}
