@use './tokens' as *;
@use './functions' as *;

:root {
  --color-blue-300: #{ds-color('blue', 300)};
  --color-blue-400: #{ds-color('blue', 400)};
  --color-blue-500: #{ds-color('blue', 500)};

  --color-cyan-400: #{ds-color('cyan', 400)};

  --color-gold-300: #{ds-color('gold', 300)};
  --color-gold-400: #{ds-color('gold', 400)};
  --color-gold-500: #{ds-color('gold', 500)};
  --color-gold-600: #{ds-color('gold', 600)};

  --color-slate-300: #{ds-color('slate', 300)};
  --color-slate-400: #{ds-color('slate', 400)};
  --color-slate-500: #{ds-color('slate', 500)};
  --color-slate-600: #{ds-color('slate', 600)};

  --color-dark: #{ds-color('dark')};
  --color-white: #{ds-color('white')};
  --font-family-sans: #{font-family(sans)};
}
