@use './_functions' as *;

@mixin typography($size: base, $weight: normal) {
  font-size: font-size($size);
  line-height: line-height($size);
  font-weight: font-weight($weight);
}

@mixin font-family($family: sans) {
  font-family: font-family($family);
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin respond-to($breakpoint) {
  @media (min-width: breakpoint($breakpoint)) {
    @content;
  }
}

@mixin landscape-main {
  @media (min-width: breakpoint(xs)) and (orientation: landscape) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-in($duration: 0.8s, $delay: 0s) {
  opacity: 0;
  animation: fadeIn $duration $delay forwards;
}

