@use 'sass:map';

$colors: (
  'blue': (
      300: rgb(147, 197, 253),
      400: rgb(59, 130, 246),
      500: rgb(37, 99, 235),
    ),
  'cyan': (
      400: rgb(34, 211, 238),
    ),
  'gold': (
      400: rgb(255, 193, 7),
      300: rgb(255, 213, 79),
      500: rgb(255, 143, 0),
      600: rgb(184, 134, 11),
    ),
  'slate': (
      300: rgb(203, 213, 225),
      400: rgb(148, 163, 184),
      500: rgb(100, 116, 139),
      600: rgb(71, 85, 105),
      700: rgb(51, 65, 85),
      800: rgb(30, 41, 59),
      900: rgb(15, 23, 42),
    ),
  'dark': rgb(2, 6, 23),
  'white': rgb(245, 242, 230),
);

$spacing: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  6: 1.5rem,
  8: 2rem,
);

$font-family: (
  sans: (
    'Inter',
    system-ui,
    -apple-system,
    sans-serif,
  ),
  mono: (
    'Fira Code',
    ui-monospace,
    'SFMono-Regular',
    'SF Mono',
    Menlo,
    Consolas,
    monospace,
  ),
);

$font-size: (
  xs: (
    size: 0.75rem,
    line-height: 1rem,
  ),
  sm: (
      size: 0.875rem,
      line-height: 1.25rem,
    ),
  base: (
      size: 1rem,
      line-height: 1.5rem,
    ),
  lg: (
      size: 1.125rem,
      line-height: 1.75rem,
    ),
  xl: (
      size: 1.25rem,
      line-height: 1.75rem,
    ),
  2xl: (
      size: 1.5rem,
      line-height: 2rem,
    ),
  3xl: (
      size: 1.875rem,
      line-height: 2.25rem,
    ),
  4xl: (
    size: 2.25rem,
    line-height: 2.5rem,
  ),
);

$font-weight: (
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
);

$radius: (
  sm: 0.25rem,
  md: 0.5rem,
  lg: 0.75rem,
  full: 9999px,
);

$shadow-color: map.get($colors, 'dark');

$shadows: (
  xl: (0 20px 25px -5px rgba($shadow-color, 0.1), 0 10px 10px -5px rgba($shadow-color, 0.04))
);

$transitions: (
  base: 300ms,
  slow: 500ms,
);

$z-index: (
  content: 5,
  tooltip: 1070,
);

$breakpoints: (
  sm: 640px,
  md: 768px,
);
