@use '@/shared/styles/design-system' as *;

.cursor {
  margin-left: 0.25rem;
  display: inline-block;
  height: 1em;
  width: 0.125rem;
  background-color: var(--color-blue-400);
  animation: cursorBlink 0.8s infinite;
}

@keyframes cursorBlink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
