@use '@/shared/styles/design-system' as *;

.imageWrapper,
.picture {
  width: 100%;
  height: auto;
}

.imageWrapper {
  position: relative;

  :global(img) {
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
  }
}

.imageWrapperGradient {
  :global(img) {
    $white: ds-color('white');
    $white-50: color-opacity('white', null, 0.5);
    $gradient:
      linear-gradient(
        to bottom,
        transparent 0%,
        $white-50 20%,
        $white 30%,
        $white 70%,
        $white-50 80%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        $white-50 20%,
        $white 30%,
        $white 70%,
        $white-50 80%,
        transparent 100%
      );

    mask-image: $gradient;
    -webkit-mask-image: $gradient;
  }
}

.imageWrapperNone {
  :global(img) {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.container {
  @include fade-in(0.5s, 0s);
}

.imageWrapperAnimated {
  @include fade-in(0.8s, 0.2s);
}
